{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
{% block body %}
  <div class="container-fluid">
    <form method="post" class="form mt-4 px-4">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary w-100">
          Create
        </button>
      {% endbuttons %}
    </form>
  </div>
{% endblock body %}
